<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
    <meta charset="utf-8">
    <title>test</title>
</head>
	<script src="http://mamtadalal.github.io/Test/controller.js"></script> 
<body>
<div ng-app="Demo" ng-controller="myCtrl">
<body> <h1>Updated App</h1>
    <h4>View People</h4>
    <ul>
        <li ng-repeat="person in people">
            {{ person.name }} from {{ person.city }}, {{ person.state }}
        </li>
    </ul>

    <h4>Add People</h4>
    Enter the person's name: <input type="text" ng-model="person_name" />
    <br />
    <br />
    Enter the person's city: <input type="text" ng-model="person_city" />
    <br />
    <br />
    Enter the person's state: <input type="text" ng-model="person_state" />
    <br />
    <br />
    <button ng-click="addPerson()">Add the Person!</button>
<!-- <script>

</script> -->
</body>
</html>
	
<!-- <body ng-controller="MainCtrl">
    <h1>App</h1>
    <h4>View People</h4>
    <ul>
        <li ng-repeat="person in people">
            {{ person.name }} from {{ person.city }}, {{ person.state }}
        </li>
    </ul>

    <h4>Add People</h4>
    Enter the person's name: <input type="text" ng-model="person_name" />
    <br />
    <br />
    Enter the person's city: <input type="text" ng-model="person_city" />
    <br />
    <br />
    Enter the person's state: <input type="text" ng-model="person_state" />
    <br />
    <br />
    <button ng-click="addPerson()">Add the Person!</button>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</body>
</html> -->

